/* Card styles */

.card {
    width: 200px;
    margin: 0 8px 8px 0;
    background-color: rgba(0, 110, 114, 0);
    border-radius: 10px;
    transition: transform 150ms ease-in-out;
    box-shadow: 0 0 8px rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: scale(1.03);
}

/* Button styles */

.button {
    font-size: 0%;
    position: absolute;
    visibility: hidden;
    color: whitesmoke;
    background-color: rgba(255, 0, 0, 0);
    border: none;
    border-radius: 50%;
    width: 0%;
    height: 0%;
    margin: 4px;
}

/* .closeBut {
} */

.favBut {
    align-self: flex-end;
}

.card:hover .button {
    font-size: 100%;
    width: 15%;
    font-size: 20px;
    visibility: visible;
    cursor: pointer;
}

/* Image styles */

.img {
    top: 10%;
    position: relative;
    box-sizing: border-box;
    width: 90%;
    box-shadow: 0 6px 16px black;
    border-radius: 50%;
    display: block;
    margin: 8px auto 0 auto;
}

/* Data styles */

.data {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    color: mediumvioletred;
    height: 30%;
    text-align: center;
}

.data h4, .data h5 {
    height: 0;
}

.subData {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    color: black;
    bottom: 5px;
}