.container {
    position: relative;
    top: 24vh;
    display: flex;
    flex-direction: column;
    padding: 16px;
    background-color: rgba(11, 15, 13, 0.6);
    backdrop-filter: blur(40px);
    color: whitesmoke;
    border-radius: 8px;
    width: 300px;
}

.container strong {
    font-size: 1.5em;
    margin: 8px 0;
    text-align: center;
}

.container input {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.container label {
    padding: 6px 0;
}

.container button {
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: greenyellow;
    padding: 8px;
    margin-top: 16px;
    font-weight: bold;
}

.container button:hover {
    opacity: 0.7;
    cursor: pointer;
}

.container button:active {
    opacity: 0.5;
}

.error {
    color: red;
}