.container {
    color: var(--soft-white);
    background-color: var(--diff-main);
    opacity: 0.9;
    border: var(--diff-text) solid 1px;
    border-radius: 8px;
    padding: 16px;
    width: 50vw;
    display: flex;
    align-items: center;
    height: 90%;
    margin-top: 40px;

    @media screen and (max-width: 768px) {
        width: 90vw;
    }

}

.container hr {
    width: 100%;
    border: var(--diff-text) solid 1px;
}

.important {
    color: rgb(0, 19, 82);
}

.container h2 {
    margin: 0;
}

.container a {
    border: solid var(--main) 2px;
    color: var(--diff-text);
    text-decoration: none;
    padding: 8px;
    transition: background-color 0.3s, color 0.3s;
}

.container a:hover {
    color: var(--text);
    background-color: var(--main);
}