.allNavbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 1;
  background-color: var(--diff-main);
  height: 50px;
}

.titleImg {
  width: 30%;
  margin: 8px;
}

.searchInput {
  width: 100%;

  padding: 8px;
  border: 2px solid var(--main);
  border-radius: 4px;
  font-size: 16px;
  color: var(--main);
  background-color: whitesmoke;
  transition: border-color 0.3s ease;

  &:focus {
    border-color: var(--diff-main);
    outline: none;
  }
}

.dependantBar {
  display: flex;
  align-items: center;
  width: 30%;
  margin-right: 4%;
  justify-content: space-evenly;
}

.dependantBar select {
  padding: 8px;
  border: 2px solid var(--main);
  border-radius: 4px;
  font-size: 16px;
  color: var(--main);
  background-color: whitesmoke;
  transition: border-color 0.3s ease;

  &:focus {
    border-color: var(--diff-main);
    outline: none;
  }
}

.random {
  background-color: var(--main);
  color: whitesmoke;
  border: solid whitesmoke 1px;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    background-color: rgb(18, 33, 87);
    transform: scale(0.95);
  }
}

.addButton {
  background-color: var(--main);
  color: whitesmoke;
  border: solid whitesmoke 1px;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    background-color: rgb(18, 33, 87);
    transform: scale(0.95);
  }
}

.random:active,
.addButton:active {
  opacity: 0.9;
}

.addForm {
  display: flex;
  flex-wrap: nowrap;
  width: 60%;
}

.navBar {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navLinks,
.active {
  text-decoration: none;
  width: 100%;
  display: flex;
  height: 100%;
  background-color: var(--main);
  border: solid rgba(128, 128, 128, 0.3) 1px;
  color: whitesmoke;
  transition: background 300ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navLinks:hover,
.navLinks:active,
.active {
  opacity: 0.9;
}
