.container {
    background-color: rgb(48, 88, 161);
    border-radius: 10px;
}

.dataContainer {
    display: flex;
    justify-content: space-between;
}

.backButton {
    border-top-left-radius: 7px;
    background: linear-gradient(to bottom right, rgba(0, 255, 255, 0.479) 1%, rgba(0, 124, 126, 0.199) 100%);
    border: none;
    position: absolute;
}

.backButton:active {
    background: rgb(218, 0, 0);
}

.backButton:hover {
    background-color: linear-gradient(to bottom right, rgb(255, 255, 255), rgba(158, 238, 240));
    cursor: pointer;
}

.data {
    width: 60%;
    margin: 10px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    box-shadow: 1px 2px 5px 6px rgba(0, 0, 0, 0.5);
}

.image {
    border-radius: 7px;
    margin: 4px;
    width: 97%;
}