/* Card styles */

.card {
    width: 200px;
    background-color: var(--diff-main);
    border-radius: 10px;
    transition: transform 150ms ease-in-out, box-shadow 150ms ease-in-out;
    box-shadow: 0 0 8px white;
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: scale(1.01);
    box-shadow: 0 0 16px white;
}

/* Button styles */

.button {
    font-size: 0%;
    position: absolute;
    visibility: hidden;
    color: white;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    width: 0%;
    height: 0%;
    margin: 4px;

    transition: color 100ms ease-in-out;
}

.closeBut:hover {
    color: red;
}

.favBut {
    align-self: flex-end;
}

.favBut:hover {
    color: yellow;
}

.card:hover .button {
    font-size: 100%;
    width: 15%;
    font-size: 20px;
    visibility: visible;
    cursor: pointer;
}

/* Image styles */

.img {
    top: 10%;
    position: relative;
    box-sizing: border-box;
    width: 90%;
    box-shadow: 0 6px 16px black;
    border-radius: 50%;
    display: block;
    margin: 8px auto 0 auto;
}

/* Data styles */

.data {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    height: 30%;
    text-align: center;
}

.data h4, .data h5 {
    height: 0;
}

.subData {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    bottom: 5px;
}