#navBar {
    display: flex;
    width: 40%;
}

.navLinks,
.active {
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;
}

.active .links {
    background: linear-gradient(180deg, rgba(9, 15, 41, 1), rgba(9, 15, 41, 0), rgba(9, 15, 41, 1));
}

.links {
    font-size: 2em;
    width: 100%;
    padding: 8px;
    background-color: rgba(9, 15, 41, 1);
    border: none;
    color: white;
    border-bottom: solid 2px rgba(0, 0, 0, 0.5);
    transition: background 300ms ease;

}

.linksHome {
    border-right: solid 2px rgb(41, 41, 41);
}

.linksFavorites {
    border-left: solid 2px rgb(41, 41, 41);
}

.links:hover {
    background: rgb(202, 202, 202);
}

.links:active {
    background: rgb(60, 92, 12);
}