.allNavbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 0;
    background-color: red;
    z-index: 1;
}

.titleImg {
    width: 10%;
    margin: 8px;
}

.dependantBar {
    background-color: green;
    display: flex;
    align-items: center;
}

.navbar {
    display: flex;
    align-items: center;
}

.navLinks,
.active {
    text-decoration: none;
    width: 100%;
    display: flex;
}

.active .links {
    background: linear-gradient(180deg, rgba(9, 15, 41, 1), rgba(9, 15, 41, 0), rgba(9, 15, 41, 1));
}

.links {
    font-size: 1.5em;
    padding: 8px;
    background-color: rgba(9, 15, 41, 1);
    border: none;
    color: white;
    border-bottom: solid 2px rgba(0, 0, 0, 0.5);
    transition: background 300ms ease;
}

.linksAbout {
    border-right: solid 2px rgb(41, 41, 41);
    border-left: solid 2px rgb(41, 41, 41);
}

.links:hover {
    background: rgb(202, 202, 202);
}

.links:active {
    background: rgb(60, 92, 12);
}