#navBar {
    background: rgba(48, 30, 103, 0.8);
    border: 2px solid rgba(54, 0, 204, 0.5);
    border-radius: 8px;
    height: 72vh;
    position: sticky;
    top: 2vh;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    grid-column-start: 2;
}

#random {
    margin: 15px;
}

.navLinks {
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;
}

.linksHome {
    color:white;
    padding: 8px;
    border-top-left-radius: 8px;
    background-color: rgba(9, 15, 41, 1);
    border: none;
    border-bottom: solid 2px rgba(0, 0, 0, 0.5);
    border-right: solid 1px rgba(0, 0, 0, 0.5);
    width: 100%;
    transition: background 300ms ease;
}
.linksAbout {
    color:white;
    padding: 8px;
    border-top-right-radius: 8px;
    background-color: rgba(9, 15, 41, 1);
    border: none;
    border-bottom: solid 2px rgba(0, 0, 0, 0.5);
    border-left: solid 1px rgba(0, 0, 0, 0.5);
    width: 100%;
    transition: background 200ms ease;
}

.links:hover {
    background: rgb(78, 119, 16);
}

.links:active {
    background: rgb(60, 92, 12);
}

.searchBar {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}