.cards {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    flex-wrap: wrap;
    width: 80%;
}

.cards span {
    text-align: center;
    font-size: 1.3em;
    color: var(--text);
    padding: 16px;
}