/* Containers */

.App {
   width: 100%;
   position: relative;
   display: flex;
   justify-content: center;
}

.allContainer {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

.pathContainer {
   display: flex;
   justify-content: center;
}

/* Background video */

#background-video {
   z-index: -100;
   width: 100%;
   position: fixed;
   top: -12%;
}