/* Containers */

.App {
   margin-bottom: 80px;
   display: flex;
   justify-content: center;
}

.allContainer {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

.pathContainer {
   width: 70%;
}

/* Background video */

#background-video {
   z-index: -100;
   top: 0;
   width: 100%;
   position: fixed;
}

/* Rick And Morty title */

.imgDiv {
   width: 15%;
   padding: 8px;
}

.titleImg {
   width: 100%;

}