.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--diff-main);
    border-top: solid rgba(128, 128, 128, 0.2) 1px;
    padding: 24px 0;
    color: var(--diff-text); /* White text for better readability */
    font-family: 'Arial', sans-serif; /* Clean and modern font */
    font-size: 14px; /* Slightly larger font size */
    margin-top: 32px; /* Spacing from the cards */
}