.container {
    background: rgba(0, 0, 0, 0.5);
    border: white solid 1px;
    backdrop-filter: blur(40px);
    border-radius: 8px;
    padding: 16px;
    width: 70vw;
    display: flex;
    align-items: center;
}

.container h2 {
    margin: 0;
}

.container a {
    background-color: rosybrown;
    text-decoration: none;
    color: whitesmoke;
    padding: 8px;
    margin-right: 8px;
}

.info {
    width: 60%;
    margin-right: 8px;
}

.container img {
    width: 40%;
}