.cards {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    flex-wrap: wrap;
    width: 80%;
}

.cards span {
    text-align: center;
    font-size: 1.3em;
    color: black;
    background-color: rgba(172, 255, 47, 0.3);
    backdrop-filter: blur(24px);
    padding: 16px;
}