.cards {
    background-color: rgba(48, 30, 103, 0.8);
    border: 2px solid rgba(54, 0, 204, 0.5);
    border-radius: 8px;
    min-height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}