.container {
    backdrop-filter: blur(24px);
    color: whitesmoke;
    border-radius: 10px;
    width: 800px;
    box-shadow: 0 0 8px rgb(255, 255, 255);
}

.dataContainer {
    display: flex;
    justify-content: space-between;
}

.backButton {
    border-top-left-radius: 7px;
    background-color: transparent;
    color: whitesmoke;
    position: absolute;
}

.backButton:hover {
    cursor: pointer;
}

.data {
    width: 60%;
    margin: 10px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    border: solid 1px gray;
    border-radius: 8px;
}

.image {
    border-radius: 8px;
    margin: 4px;
    width: 300px;
}