.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: var(--diff-main);
  color: var(--diff-text);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.backButton {
  background-color: var(--main);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}

.backButton:hover {
  opacity: 0.9;
}

.dataContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.data {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
}

.image {
  border-radius: 10px;
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
}
