.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: var(--diff-main);
  color: var(--text);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.backButton {
  background-color: var(--main);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  color: var(--text);
}

.backButton:hover {
  opacity: 0.9;
}

.dataContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 20px;

  @media (max-width: 768px) {
    flex-direction: column-reverse;
  }
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  padding: 3px;
  border-radius: 10px;
  background-color: var(--main);

  width: 200px;
  height: 200px;

  box-sizing: border-box;
}

.image {
  border-radius: 10px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 3px solid var(--main);
  box-sizing: border-box;
}
